{block #content}
	<h1>Smazat ročník</h1>
	
	<p>Používejte výjimečně a s rozvahou, <strong>tento krok je nevratný</strong>!</p>
	
	<p>Jméno ročníku: <strong>{$data->name}</strong></p>
	{control deleteForm}
{/block}