{var $description = $event->description}
{var $keywords = "INTERSOB, soutěž, středoškolská soutěž, soutěžení, zábava, vysokoškoláci, výhra, střední školy, netradiční, zábavaný, Brno, Masarykova Univerzita, korespondeční semináře, KSI, KEKS, BRKOS"}
{var $icon = "index"}

{block #content}
	{$event->content|texy|noescape}
{/block}
