<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="cz" />
{*		<meta charset="UTF-8">*}
			<meta name="description" content="{if !empty($description)}{$description}{else}InterSoB &ndash; zábavná a poučná jednodenní soutěž středoškolských studentů.{/if}" />
			<meta name="keywords" content="{if !empty($keywords)}{$keywords}{/if}" />
			<meta name="robots" content="{if isSet($robots)}{$robots}{else}INTERSOB, InterSob, soutěž, středoškolská soutěž, středoškoláci, zábava, Masarykova univerzita, KSI, KEKS, BRKOS{/if}" />
			<meta name="author" content="Jan Drábek, Martin Ukrop a kolektiv kolem korespondečních seminářů">

			<title>{if !empty($title)}{$title} | {/if}{if isSet($event) && isSet($event->name)}{$event->name}{else}InterSoB{/if}</title>
			<link href="{$basePath}/css/screen.css" media="screen" rel="stylesheet" type="text/css" />

			<link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon" />

			<meta property="og:image" content="{$baseUrl}/images/sob.png" />
			{block scripts}
			<script src="{$basePath}/js/jquery-v1.9.1.js"></script>
			<script src="{$basePath}/js/netteForms.js"></script>
			<script type="text/javascript">
$(function(){
	var count = 0;
    $('.volume select').ddslick({
		width: 160,
		background: "#2A2A2A",
		onSelected: function(data){
			if(count++ == 0) return;
			//var pathname = window.location.pathname;
			//if (pathname.substring(0, 6) !== "/" + data.selectedData.value + "/" && pathname.substring(0, 7) != "/admin/" && pathname.substring(0, 7) != "/year/") {
				//console.log("HERE");
				window.location = "{!$basePath}/" + data.selectedData.value + "/";
			//}
		}
	});

});
			</script>

			{* Dropdown menu *}
			<script src="{$basePath}/js/jquery.ddslick.js" type="text/javascript"></script>

			{* Wasp gallery *}
			<link rel="stylesheet" media="screen,projection,tv" href="/intersob/wg/frontend/wasp-gallery.css" type="text/css">
			<script src="/intersob/wg/frontend/jquery.colorbox-min.js"></script>
			<link media="screen" rel="stylesheet" href="/intersob/wg/frontend/colorbox.css">
			<script src="/intersob/wg/frontend/wasp-gallery.js"></script>
			{/block}

		{block head}{/block}
		<style n:if="isset($event->color) && !empty($event->color)">
			div.header { border-color: {$event->color}; }
			div.header-menu a:hover { color: {$event->color}; }
			hr.menu-rule { background-color: {$event->color}; }
			a { color: {$event->color}; }
			input.button:hover { background-color: {$event->color}; }
			.dd-pointer-down { border-top: solid 6px {$event->color}; }
			.dd-pointer-up { border-bottom: solid 6px {$event->color} !important; }
			.dd-option-selected { background: {$event->color}; }
			.dd-options { border: 4px solid {$event->color}; }
		</style>
	</head>
	<body>
		<div class="background-sob">
			<img src="{$basePath}/images/background-sob.png" class="background-sob" alt="Logo InterSoBa" />
		</div>
		<div class="root">
			<div class="header">
				<div class="header-logo">
					<a href="{$basePath}/" title="INTERdisciplinární SOutěž Brno"><img src="{$basePath}/images/header-logo.png" class="header-logo" alt="InterSoB" /></a>
				</div>
				<div class="volume">
						<select>
							{foreach $yearsSelectBox as $volume}
								<option data-href="{$basePath}/{$volume->date->format('Y')}/" value="{$volume->date->format('Y')}" {if $event->date->format('Y') == $volume->date->format('Y')}selected="selected"{/if}>Ročník {$volume->date->format('Y')}</option>
							{/foreach}
						</select>
				</div>
				{if isset($isAdmin) && $isAdmin}
					<div class="admin-link">
						<a href="{plink Admin:}">Administrace</a>
					</div>
				{/if}
				<div class="header-menu">
					{block #menu1}
						{!$menu1|texy}
					{/block}
					{*<ul class="menu1">
						<li><a href="login.html">Přihlásit se</a></li>
						<li><a href="about.html">Kdo jsme</a></li>
						<li><a href="archive.html">Minulé ročníky</a></li>
					</ul>*}
					<hr class="menu-rule" />
					{block #menu2}
						{!$menu2|texy}
					{/block}
					{*
					<ul class="menu2">
						<li><a href="index.html">Aktuální</a></li>
						<li><a href="teams.html">Týmy</a></li>
						<li><a href="results.html">Výsledky</a></li>
					</ul>
					*}
				</div>
				<div class="cleaner"></div>
			</div>

			<div class="main">
				<div class="facebook">
					<a href="https://www.facebook.com/intersob" title="InterSoB na Facebooku">
						<img src="{$basePath}/images/facebook.png" alt="facebook" />
					</a>
				</div>
				<div class="main-contents">
					{include #content}
				</div>
			</div>

			<div class="footer-placeholder">
				<div class="footer-info">
					<p>V případě dotazů nás neváhejte kontaktovat na <br />
						<a class="email" href="mailto:%69%6e%74%65%72%73%6f%62@%6d%61%74%68.%6d%75%6e%69.%63%7a">intersob [zavináč] math.muni.cz</a></p>
				</div>
				<div class="footer-logos">
					<a href="http://mam.mff.cuni.cz" title="Studentský matematicko-fyzikální seminář a časopis" class="footer-logo wide mam-logo"></a>
					<a href="http://www.muni.cz/" title="Masarykova Univerzita Brno" class="footer-logo muni-logo wide"></a>
					<a href="http://www.fi.muni.cz/index.xhtml.cs" title="Fakulta Informatiky MU" class="footer-logo fi-logo"></a>
					<a href="http://www.sci.muni.cz/" title="Přírodovědecká fakulta MU" class="footer-logo prf-logo"></a>
					<a href="http://vibuch.math.muni.cz" title="Vzdělávací ikurz pro budoucí chemiky" class="footer-logo vibuch-logo"></a>
					<a href="http://brkos.math.muni.cz" title="BRněnský KOrespondenční Seminář" class="footer-logo brkos-logo"></a>
					<a href="http://keks.math.muni.cz/" title="Korespondenční EKologický Seminář" class="footer-logo keks-logo"></a>
					<a href="http://ksi.fi.muni.cz/" title="Korespondenční Seminář z Informatiky" class="footer-logo ksi-logo"></a>
					<a href="http://interlos.fi.muni.cz" title="INTERnetová LOgická Soutěž" class="footer-logo interlos-logo"></a>
				</div>
				<div class="cleaner">&nbsp;</div>
			</div>

			<div  class="footer">
				<div class="icon">
					<img src="{$basePath}/images/icon-{if empty($icon)}index{else}{$icon}{/if}.png" alt="Ikonka pro potěšení oka" />
				</div>
				<div class="footer-info">
					<p>V případě dotazů nás neváhejte kontaktovat na <br />
						<a class="email" href="mailto:%69%6e%74%65%72%73%6f%62@%6d%61%74%68.%6d%75%6e%69.%63%7a">intersob [zavináč] math.muni.cz</a></p>
				</div>
				<div class="footer-logos">
					<a href="http://mam.mff.cuni.cz" title="Studentský matematicko-fyzikální seminář a časopis" class="footer-logo wide mam-logo"></a>
					<a href="http://www.muni.cz/" title="Masarykova Univerzita Brno" class="footer-logo muni-logo wide"></a>
					<a href="http://www.fi.muni.cz/index.xhtml.cs" title="Fakulta Informatiky MU" class="footer-logo fi-logo"></a>
					<a href="http://www.sci.muni.cz/" title="Přírodovědecká fakulta MU" class="footer-logo prf-logo"></a>
					<a href="http://vibuch.math.muni.cz" title="Vzdělávací ikurz pro budoucí chemiky" class="footer-logo vibuch-logo"></a>
					<a href="http://brkos.math.muni.cz" title="BRněnský KOrespondenční Seminář" class="footer-logo brkos-logo"></a>
					<a href="http://ibis.sci.muni.cz/" title="Interaktivní BIologický Seminář" class="footer-logo ibis-logo"></a>
					<a href="http://ksi.fi.muni.cz/" title="Korespondenční Seminář z Informatiky" class="footer-logo ksi-logo"></a>
					<a href="http://interlos.fi.muni.cz" title="INTERnetová LOgická Soutěž" class="footer-logo interlos-logo"></a>
				</div>
				<div class="cleaner">&nbsp;</div>
			</div>

		</div>
	</body>
</html>
