/* InterSoB stylesheet 
used colors:
    white: rgb(242,242,242)
    black: rgb(42,42,42)
    gray: rgb(222,222,222)
    red: rgb(186,13,13)
*/

/* main elements - body, root, background-sob, cleaner */
body { font-family: Verdana, Arial, Helvetica, sans-serif; color: rgb(42,42,42); background-color: rgb(242,242,242); text-align:justify; margin: 0; padding: 0; height: 100%; background-image: url("/images/background.png"); background-repeat: repeat; }
div.root { position: absolute; min-height: 100%; min-width: 100%; padding: 0; margin: 0; }
img.background-sob { position: absolute; top: 357px; left: 150px; width: 150px; height: 119px; border: none; }
div.cleaner { clear: both; }
hr.cleaner { clear:both; height:1px; margin: -1px 0 0 0; padding:0; border:none; visibility: hidden; }

/* header */
div.header { min-height: 110px; width: 100%; min-width: 300px; background-color: rgb(42,42,42); border-width: 0 0 4px 0; border-style: solid; border-color: rgb(186,13,13); }
div.header-logo { position: relative; float: left; padding: 20px 15px 25px 5%; }
img.header-logo { height: 65px; width: 286px; border: none; }
div.volume { position: relative; float: left; padding-left: 20px; padding-top: 40px; font-weight: bold; font-size: 1.6em; color: rgb(186,13,13);}

div.header-menu { position: relative; float: right; min-width: 250px; min-height: 80px; padding: 20px 5% 10px 15px; color: rgb(242,242,242); vertical-align: middle; }
ul.menu1 { float: right; margin: 0; padding: 0; list-style-type: none; text-align: left; }
ul.menu2 { float: right; margin: 0; padding: 0; list-style-type: none; text-align: right; }
div.header-menu li { margin: 3px 0 3px 0; padding: 0; }
div.header-menu a { color: rgb(242,242,242); }
div.header-menu a:hover { color: rgb(186,13,13); text-decoration: none; }
hr.menu-rule { float:right; width: 4px; height: 70px; border: none; background-color: rgb(186,13,13); margin: 0 20px 0 20px; }

/* footer */
div.footer { position: absolute; bottom: 0; min-height: 80px; width: 100%; min-width: 300px; background-color: rgb(42,42,42); }
div.footer-placeholder { visibility: hidden; display: block; min-height: 80px; width: 100%; min-width: 300px; background-color: rgb(42,42,42); }
div.footer-info { float: left; min-width: 250px; color: rgb(242,242,242); padding: 10px 5% 10px 5%; font-size: 80%; text-align: left; }
.email { color: rgb(242,242,242); text-indent: 20px; }
div.footer-logos { float: right; padding: 15px 5% 5px 5%; min-width: 250px; text-align: right; }
.footer-logo { float:right; display:block; height: 50px; width: 50px; border: none; margin: 0 0 10px 10px; }
.footer-logo:hover { background-position: 50px 0; }
div.icon { position: absolute; top: -65px; right: 5%; }

/* main */
div.main { text-align: center; width: 100%; min-width: 300px; margin: 0; padding: 0; }
div.main-contents { margin: auto; text-align: left; max-width: 960px; padding: 30px 5% 70px 5%; }
div.facebook { float:right; margin: 125px 0 15px 15px; background-color: rgb(42,42,42); }
div.facebook:hover { background-color: rgb(59,89,152); }
.facebook-logo { display:block; width: 50px; height: 150px; background-color: rgb(42,42,42); }

/* basic html, basic emphasis */
h1 { font-size: 200%; margin-top: 0; text-align: center; }
h2 { font-size: 130%; font-weight: bold; }
h3 { font-size: 115%; }
a { text-decoration: none; font-weight: bold; color: rgb(186,13,13); }
a:hover { text-decoration: underline; }
table { margin: 0 auto 0 auto; border-width: 10px; border-style: solid; border-color: transparent; }
tr.even { background-color: rgb(222,222,222); }
td { border: none; padding: 3px 5px 3px 5px; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

/* forms and buttons */
input.button { background-color: rgb(42,42,42); font-size: 130%; font-weight: bold; color: rgb(242,242,242); border: none; margin:20px; padding: 10px 20px 10px 20px; }
input.button:hover { background-color: rgb(186,13,13); cursor:pointer; }
input.text, textarea { border-style: solid; border-width: 2px; border-color: rgb(222,222,222); color: rgb(42,42,42); font-weight:bold; padding: 7px 10px 7px 10px; }
textarea { float: left;}

form table th { text-align: right; font-weight: bold; }
fieldset { border: 2px solid rgb(222,222,222); margin-bottom: 10px;}
legend { font-weight: bold; padding: 10px; background: rgb(222,222,222); }
.button-add { background: url('/images/icons/add.png') no-repeat; height: 32px; display: block; padding-left: 42px; line-height: 32px; }
.button-edit { background: url('/images/icons/edit.png') no-repeat; height: 32px; display: block; padding-left: 42px; line-height: 32px; float: left; margin-left: 25px;}
.button-delete { background: url('/images/icons/delete.png') no-repeat; height: 32px; display: block; padding-left: 42px; line-height: 32px; float: left; margin-left: 25px;}
.button-list { background: url('/images/icons/list.png') no-repeat; height: 32px; display: block; padding-left: 42px; line-height: 32px; float: left; margin-left: 25px;}
div.admin-options span { display: block; height: 32px; float: left; margin-left: 25px; line-height: 32px; }
div.admin-options { background: rgb(222,222,222); padding: 10px; border-radius: 10px; }

/* flash messages and error messages */
div.flash { padding: 10px; padding-left: 41px; margin-bottom: 10px; margin-top: 10px; font-weight: bold; }
div.info { border: 3px solid rgb(7,49,148); background: rgb(205,213,235) url('/images/icons/info.png') no-repeat left center; }
div.success { border: 3px solid rgb(25,103,1); background: rgb(194,224,182) url('/images/icons/success.png') no-repeat left center; }
div.error, ul.error { border: 3px solid rgb(186,13,13); background: rgb(242,225,225) url('/images/icons/error.png') no-repeat left center; }
ul.error { list-style: none; padding: 10px; padding-left: 41px; margin-bottom: 10px; margin-top: 10px; font-weight: bold; }

/* page specific css follows */
table.results { min-width: 30%; float: left; }
div.contents-block { float:right; max-width: 60%; }
div.login {  }
form.login-form { text-align: center; display:block; position:relative; }
form.login-form table { text-align: right; }
form.login-form label { font-size: 115%; font-weight: bold; }
img.sob { width: 200px; height: 165px; border: none; float: right; }

/* specific logos */
.muni-logo { background-image:url('/images/logo-mu.png'); }
.fi-logo { background-image:url('/images/logo-fi.png'); }
.prf-logo { background-image:url('/images/logo-prf.png'); }
.brkos-logo { background-image:url('/images/logo-brkos.png'); }
.keks-logo { background-image:url('/images/logo-keks.png'); }
.ksi-logo { background-image:url('/images/logo-ksi.png'); }
.interlos-logo { background-image:url('/images/logo-los.png'); }